<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Seller\Listing\Block\Adminhtml\Index\Index
 */
?>
update content from Listing\view\adminhtml\templates\index\index.phtml