<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Seller\Listing\Block\Display\Display
 */
 //echo $block->display();
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	
?>
<!--
  

-->


<div class="simplenews">
   <?php
      $ContactCollection = $block->getCollection();
      if ($ContactCollection->getSize() > 0) :
   ?>
      <div class="toolbar top">
         <?php //echo $block->getPagerHtml(); ?>
      </div>

     <p><b>Thank You for your registration, Our Team will contact to you very soon.</b></p>

     <p><a href="<?php echo $baseurl ?>listing/index/index">New Seller's Registration.</a></p>

      <div style="clear: both"></div>

      <div class="toolbar-bottom">
         <div class="toolbar bottom">
            <?php //echo $block->getPagerHtml(); ?>
         </div>
      </div>
   <?php else : ?>
      <p><?php echo __('Have no article!') ?></p>
   <?php endif; ?>
</div>




