<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Seller\Listing\Block\Display\Display
 */
 //echo $block->display();
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	
?>
<!--
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    <span itemprop="name"><a href="<?php //echo $baseurl ?>listing/display/display">Click To See Logged User Details</a></span>
        </h2>
 </div> 

<?php
    ?>
	
	
	  <table>
    <tr>
      <th class="post-id">Emp Name</th>
      <th class="post-name">Emp Dep</th>
      <th class="post-name">Emp Gender</th>
      <th>Emp Listing</th>
  	  <th>Emp Address</th>
      <th>Emp JoinDate</th>
      <th>Emp Qualify</th>
      <th>Emp Terms</th>
    </tr>
    <?php
       /* foreach ($block->getConatctCollection() as $key=>$contact){
            echo '<tr>
                    <td>'.$contact->getemp_name().'</td>
                    <td>'.$contact->getemp_dept().'</td>
                     <td>'.$contact->getemp_gender().'</td>
                    <td>'.$contact->getemp_department().'</td>
					          <td>'.$contact->getemp_add().'</td>
                    <td>'.$contact->getemp_joindate().'</td>
                    <td>'.$contact->getemp_qualify().'</td>
                    <td>'.$contact->getemp_terms().'</td>
                  </tr>';
        }*/
    ?>
    </table>

-->


<div class="simplenews">
   <?php
      $ContactCollection = $block->getCollection();
      if ($ContactCollection->getSize() > 0) :
   ?>
      <div class="toolbar top">
         <?php echo $block->getPagerHtml(); ?>
      </div>

      <ul>
<table>
    <tr>
      <th class="post-id">Emp Name</th>
      <th class="post-name">Emp Dep</th>
      <th class="post-name">Emp Gender</th>
      <th>Emp Salary</th>
      <th>Emp Address</th>
      <th>Emp JoinDate</th>
      <th>Emp Qualify</th>
      <th>Emp Terms</th>
    </tr>


         <?php foreach ($ContactCollection as $contact) : ?>
                     <?php
                   echo '<tr>
                         <td>'.$contact->getemp_name().'</td>
                         <td>'.$contact->getemp_dept().'</td>
                         <td>'.$contact->getemp_gender().'</td>
                         <td>'.$contact->getemp_salary().'</td>
                         <td>'.$contact->getemp_add().'</td>
                         <td>'.$contact->getemp_joindate().'</td>
                         <td>'.$contact->getemp_qualify().'</td>
                         <td>'.$contact->getemp_terms().'</td>
                         </tr>';
                     ?>                     
         <?php endforeach; ?>
</table>         
      </ul>

      <div style="clear: both"></div>

      <div class="toolbar-bottom">
         <div class="toolbar bottom">
            <?php echo $block->getPagerHtml(); ?>
         </div>
      </div>
   <?php else : ?>
      <p><?php echo __('Have no article!') ?></p>
   <?php endif; ?>
</div>




