<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.,,,
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Seller\Listing\Block\Index\Index
 */
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	

?>


<form class="form_report" action="" method="post" id="login-form" >
 <div class="page-title-wrapper">
        <h2 class="page-title">
      <span itemprop="name"><span class="base" data-ui-id="page-title-wrapper">Seller's Company Registration</span></span>
        </h2>
 </div>    
 <br>
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    
 </div> 
 <br>
<div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company Name">Company Name</label></div>
<div class="col-75"><input id="comp_name" name="comp_name" type="text" required placeholder="Company Name.." required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company Email">Company Email</label></div>
<div class="col-75"><input id="comp_email" name="comp_email" type="text" placeholder="Company Email.."  required></div>
</div>

<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company Mobile">Company Mobile</label></div>
<div class="col-75"><input id="comp_mobile" name="comp_mobile" type="text" MaxLength="10" placeholder="Company Mobile.."  required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company City">Company City</label></div>
<div class="col-75"><input type="text" id="comp_city"  name="comp_city"  placeholder="Company City.."   required></div>
</div>

<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company Pincode">Company Pincode</label></div>
<div class="col-75"><input type="text" id="comp_pincode"  name="comp_pincode" MaxLength="6"  placeholder="Company Pincode.."  required></div>
</div>


<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company Pan">Company Pan</label></div>
<div class="col-75"><input type="text" id="comp_pan"  name="comp_pan"  placeholder="Company Pan No.."  required></div>
</div>

<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Seller's Company GST">Company GST</label></div>
<div class="col-75"><input type="text" id="comp_gst"  name="comp_gst"  placeholder="Company GST No.."  required></div>
</div>






<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Terms & Condition">Terms & Condition</label></div>
<div class="col-75"><input id="comp_terms" name="comp_terms" type="checkbox" value="Yes" placeholder="Terms & Condition.."></div>
</div>


<div class="row"><input type="submit" value="Submit"></div>
</div>
</form>



